Python Basics Questions

**1- What is Python, and why is it popular ?**

  Python is a general-purpose, high level programming  language. Python is used for web development, machine learing, data analysis  etc. it is currently most used for programming languages .

  Popular useses- One of the most resason for the popularity of python. Python has limited set of keywords.And we can learn very easy because syntax is very simple and easy to learn .

**2-  What is an interpreter in Python ?**

Python is interpreter language. The interpreter take one intruction set form source code at the time and translate the machine code then execute the programm code .

**3-What are pre-defined keywords in Python? ***

Pythone Keywords are predefined, reserved identifiers that have special meanings to the compiler. we cannot be used as identifiers, such as variable names, function names, or class names.

**4- Can keywords be used as variable names ?**

No we can not use keywords as variable name ,

ex-

if- if keyword we use for condition .

a=5 , we have define as a number

***5- What is mutability in Python ? ***

 Mutability allows us to change its value once it is created.it is when something is changeable or has the ability to change.

**6-Why are lists mutable, but tuples are immutable**

Lists are mutable beacuse we can modify . and Tuples are immutable because we cannot be modified.

**7-What is the difference between “==” and “is” operators in Python ?**

The == operator in Python,  It checks if the values of two objects are equal. It compares the content of the objects.

print(numbers_1 == numbers_2) true

print(numbers_1 == numbers_3) true

The "is" operator in Python,  It checks if two variables refer to the same object in memory. It compares the memory addresses of the objects.

print(numbers_1 is numbers_2) false

print(numbers_1 is numbers_3) false

**8- What are logical operators in Python ?**

Logical opreter we use to loop and conditonal statment .
They perform Logical AND, Logical OR, and Logical NOT operations.


EX-   
x and y	, X or Y , not x

**9- What is type casting in Python ?**


Type Casting, also known as type conversion, is a process that converts a variable's data type into another data type. These conversions can be implicit (automatically interpreted) or explicit (using built-in functions).

**10- What is the difference between implicit and explicit type casting ?**

**Implicit type casting**- the programming language automatically converts data from one type to another data type . For example, if you have an integer variable and you  try to assign it to a float variable, the programming language will automatically convert the integer to a float without you having to do anything.

**Explicit type casting-**We known as type conversion  when the programmer explicitly converts a value from one data type to another.  implicit type casting, explicit type casting requires the programmer to specify the desired data type conversion.

**11- What is the purpose of conditional statements in Python ?**

Conditional statement - we have make decision and execute the block of code for the ture or false .

if condition:
    # code to execute if condition is true


num = 5

if num > 0:
    print("The number is positive.")

**12- How does the elif statement work ?**

if statement:
The initial condition is checked. If it's true, the code block within the if statement is executed.


elif statement:
If the if condition is false, the program checks the conditions in the elif statements one by one. If any of the elif conditions are true, their corresponding code blocks are executed, and no further elif or else statements are checked.

ex-


n= [1,2,"Rishabh",56,76,4,]
for i in n:
    if i=="Rishabh":
        break
    print(i)
else:
    print("done ")

**13- What is the difference between for and while loops ?**

**For loop -**The for loop is used how many times you want to execute the block of code.

It iterates over a sequence and executes the block of code for each item in the sequence.


n= [1,2,45,56,76,4,]

for i in n:
    print(i)

** While loop  -  ** The while loop is used when you don't know in advance how many times you want to execute the block of code. It continues to execute as long as the specified condition is true.


n=20
i=0


while i<=n:
    i=i+1
    print(i)
        
else:
    print("code run ")

 **14- Describe a scenario where a while loop is more suitable than a for loop.
?**

 Both methods can help you iterate through your code.
for loops are best used when you know the number of iterations of time, where as a while loop is best used when you don't know the number of iterations in advance.

**Practical Questions**


---

**1- Write a Python program to print "Hello, World!**

In [ ]:
print("Hello, World")

Hello, World

**2- Write a Python program that displays your name and age?**

In [ ]:
name = "Rishabh";
age= 26;
print("my name is ", name , "and age is ", age) #prining name and age

my name is  Rishabh and age is  26

**3- Write code to print all the pre-defined keywords in Python using the keyword library?**

In [ ]:
print(False == 0)
print(True == 1)

True
True

In [ ]:
print(True + True + True)

3

In [ ]:
print (True == True)

True

In [ ]:
print (False == True)

False

In [ ]:
a=True
b=False

In [ ]:
print(3 in [1,2,3])

True

In [ ]:
print(4 in [1,2,3])

False

In [ ]:
for num in range(7):
    if num == 2:     # here we are using for loop and checking condition continue
        continue
    print(num)

0
1
3
4
5
6

In [ ]:
count = 0
while count < 4:
    count += 1    # here we are using while loop and checking condition break
    if count == 3:
        break
    print(count)

1
2

5- Create a list and tuple in Python, and demonstrate how attempting to change an element works differently
for each.

In [32]:
list= [10, 20, 30]
list.append(5) # we can append value in list
list

[10, 20, 30, 5]

In [33]:
Tuple = (1, "hello", 3.14)
Tuple.append(5) #we can not append value in tuple
tuple

AttributeError: 'tuple' object has no attribute 'append'

In [ ]:
print(Tuple[0])

1

In [ ]:
print(Tuple[1])

hello

In [ ]:
thistuple = ("apple", "banana", "cherry", "banana")
print(thistuple)

('apple', 'banana', 'cherry', 'banana')

In [34]:
alltuple = ("apple", "banana", "cherry", "orange", "kiwi", "melon", "mango")
print(alltuple[2:-2])

('cherry', 'orange', 'kiwi')

In [1]:
alltuple = ("apple", "banana", "cherry", "orange", "kiwi", "melon", "mango")
print(alltuple[1:5])

('banana', 'cherry', 'orange', 'kiwi')

In [ ]:
alltuple = ("apple", "banana", "cherry", "orange", "kiwi", "melon", "mango")
print(alltuple[:4])

('apple', 'banana', 'cherry', 'banana')

In [2]:
alltuple = ("apple", "banana", "cherry", "orange", "kiwi", "melon", "mango")
print(alltuple[1:4])

('banana', 'cherry', 'orange')

**6. Write a function to demonstrate the behavior of mutable and immutable arguments.**

In [31]:
def num1(x): #make function num1 and print this
    x =x+ 1
    print("change the number:  ", x)

def num2(lst):
    lst.append(4)
    print("change the list:  ", lst)

# Immutable example
a = 10
num1(a)
print("The number for useing immutable:", a)

# Mutable example
b = [1, 2, 3]
num2(b)
print("The number for useing mutable: ", b)

change the number:   11
The number for useing immutable: 10
 change the list:   [1, 2, 3, 4]
The number for useing mutable:  [1, 2, 3, 4]

In [ ]:
#

**7. Write a program that performs basic arithmetic operations on two user-input numbers.**

In [8]:
num1=int(input("Enter the first number =  "))
num2=int(input("Enter the Second number =  "))
num3= num1+ num2
print("Total num of sum = " , num3)

Enter the first number =  63
Enter the Second number =  43
Total num of sum =  106

In [ ]:
num1=int(input("Enter the first number"))
for i in range(0, num1 + 1, 2):
  print(i)

Enter the first number12
0
2
4
6
8
10
12

In [ ]:
 num2 = int(input("Enter the first number"))

 i=0
 while i<num2:
    print(i)
    i=i+2

Enter the first number10
0
2
4
6
8

**8-Write a program to demonstrate the use of logical operators.**

In [10]:
a = 200
b = 33
if b>a:
  print("b is greater than a")
else:
  print("b is not greater than a")

b is not greater than a

In [12]:
x = "Hello"
y = ""

print(bool(x))
print(bool(y))

True
False

In [17]:
x = "Hello"
y = "djad"

print(bool(x))   #boolean oprater
print(bool(y))

True
True

In [18]:
a = True
print(not a)

False

In [25]:
text= "i am Rishabh Maurya"
if "amaa" not in text: #here we are using "Not oprater"
  print("text in not this sentence ")
else:
  print("Text in sentence")

text in this sentence

**9. Write a Python program to convert user input from string to integer, float, and boolean types.**

In [36]:
num_int = int(input("Enter the integer value: "))
strs_int = input("Enter the string value (must be a number to convert): ")
int_float = float(input("Enter the float value: "))

print(int(strs_int))        # Converting is  string input to integer
print(int(int_float))       # Converting is  float input to integer
print(str(num_int))         # Converting is  integer input to string

Enter the integer value: 43
Enter the string value (must be a number to convert): 323
Enter the float value: 3.32
323
3
43

**10-Write code to demonstrate type casting with list elements**

In [1]:
list_num = ['1', 2, 3.0, True]
num = [int(i) for i in list_num] #convert all value in intenger
print("change all value ", num)

change all value  [1, 2, 3, 1]

In [2]:
list_num = ['1', 2, 3.0, True]
num = [float(i) for i in list_num] #convert all value in float
print("change all value ", num)

change all value  [1.0, 2.0, 3.0, 1.0]

In [3]:
list_num = ['1', 2, 3.0, True]
num = [str(i) for i in list_num] #convert all value in str
print("change all value ", num)

change all value  ['1', '2', '3.0', 'True']

In [4]:
list_num = ['1', 2, 3.0, True]
num = [bool(i) for i in list_num] #convert all value in boolean
print("change all value ", num)

change all value  [True, True, True, True]

**11. Write a program that checks if a number is positive, negative, or zero.**

In [7]:
num= int(input("Enter the any number postive or negative or zero "))
if num >0:
    print("The number is postive number", num)
elif num ==0 :
        print("The number is zero", num)
else:
    print("The number is negative", num)

Enter the any number postive or negative or zero 324
The number is postive number 324

**12. Write a for loop to print numbers from 1 to 10.**

In [12]:
number= 10
i=1
for i in range(1, 11):
  print(i)

1
2
3
4
5
6
7
8
9
10

**13. Write a Python program to find the sum of all even numbers between 1 and 50.**

In [23]:
num= 0
for i in range(2, 51, 2):
  num=num+i
  print(num)

2
6
12
20
30
42
56
72
90
110
132
156
182
210
240
272
306
342
380
420
462
506
552
600
650

**14-Write a program to reverse a string using a while loop.**

In [28]:
text=str(input("Enter the string value:  ",))
reverse_string=""
index=len(text)-1
while index>=0:
    reverse_string=reverse_string + text[index]
    index-=1
print("Reverse String:", reverse_string)

Enter the string value:  Rishabh
Reverse String: hbahsiR

**15. Write a Python program to calculate the factorial of a number provided by the user using a while loop.**

In [30]:
#Factorial number , 1*2*3*4*5=120
num = 5
fact = 1
if num < 0:
    print("Factorial is not defined for negative numbers") #we are checking number is less the 0 or not
else:
    n = num
    while n > 0:
        fact =fact* n
        n =n- 1
    print("Factorial of", num, "is:", fact)

Factorial of 5 is: 120